.product-specs__tabs .el-tabs__active-bar {
  display: none;
}

.product-specs__tabs .el-tabs__content {
  width: 100%;
  background-color: var(--color-bg);

  @include breakpoint(xl) {
    padding-left: var(--space-xxxl);
  }
}

.product-specs__tabs .el-tabs__item {
  padding-right: var(--space-lg);
  height: 60px;
  font-size: var(--text-sm);
  font-weight: 500;
  line-height: 60px;

  &.is-active {
    background-color: var(--color-bg);
  }

  @include breakpoint(xl) {
    padding-right: var(--space-xxxl);
  }
}

@include breakpoint(lg, "not all") {
  .product-specs__tabs .el-tabs__header {
    margin: 0;
  }

  .product-specs__tabs .el-tabs__nav-scroll {
    margin: 0 var(--space-xl);
  }

  .product-specs__tabs .el-tabs__nav-wrap {
    margin: 0 auto;
    max-width: calc(100vw - var(--container-padding) + 40px);

    &::after {
      display: none;
    }
  }

  .product-specs__tabs .el-tabs__nav-prev,
  .product-specs__tabs .el-tabs__nav-next {
    top: 50%;
    font-size: var(--text-md);
    transform: translateY(-50%);
  }

  .product-specs__tabs .el-tabs__nav-prev {
    left: var(--space-md);
  }

  .product-specs__tabs .el-tabs__nav-next {
    right: var(--space-md);
  }

  .product-specs__tabs .el-tabs__item {
    padding: 0 var(--space-unit) !important;
  }

  .product-specs__tabs .el-tabs__content {
    padding: var(--space-xl) var(--container-padding);
  }
}

@include breakpoint(lg) {
  .product-specs__tabs.el-tabs {
    display: flex;
  }

  .product-specs__tabs .el-tabs__header {
    margin-right: 0 !important;
    flex: 1 0 calc(100vw / 3 - var(--container-padding));
    max-width: calc(100vw / 3 - var(--container-padding));
  }

  .product-specs__tabs .el-tabs__nav-wrap::after {
    width: 1px !important;
    background-color: var(--color-contrast-lower);
    z-index: 2;
  }

  .product-specs__tabs .el-tabs__nav-scroll {
    padding-bottom: var(--space-xl);
  }

  .product-specs__tabs .el-tabs__item.is-active {
    border-left: 4px solid var(--color-primary);
  }

  .product-specs__tabs .el-tabs__content {
    padding: 0 var(--container-padding) 0 var(--space-lg);
    height: auto;
  }
}
